﻿@using Newtonsoft.Json; 

@{
    List<string> cards = new List<string>();
    var playerName = Request["PlayerName"];

    if (IsPost)
    {
        string GetURL = "http://jhugheshandofcards.azurewebsites.net/api/HandOfCards/" + playerName;
        WebClient client = new WebClient();
        Stream dataStream = client.OpenRead(GetURL);
        StreamReader reader = new StreamReader(dataStream);
        var results = JsonConvert.DeserializeObject<dynamic>(reader.ReadLine());
        reader.Close();

        foreach (var item in results)
        {
            cards.Add((string)item.imageLink);
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <style>
        body {
            font-family: Verdana;
            margin-left: 50px;
            margin-top: 50px;
        }

        div {
            border: 1px solid black;
            width: 40%;
            margin: 1.2em;
            padding: 1em;
        }
    </style>
    <title>BensCards: a new and exciting card game.</title>
</head>
<body>
    @if (IsPost)
    {
        <label id="labelGoal">Which player has the best hand.</label>
        <br />
        <div>
            <p><label id="labelPlayer1">Player1: @playerName</label></p>
            @foreach (string card in cards)
            {
                <img width="75px" height="100px" alt="cardImage" src="https://joshuahughesdeckofcards.blob.core.windows.net/carddeck/@card" />

            }
        </div>
        <label id="errorMessageLabel" />
    }
    else
    {
        <label id="labelGoal">
            Enter the players name and deal the cards.
        </label>
        <br /><br />
        <form method="post">
            <div>
                <p>Player 1:  @Html.TextBox("PlayerName")</p>
                <p><input type="submit" value="Deal Hand" class="submit" /></p>
            </div>
        </form>
    }
</body>
</html>
